<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465534295759-3ap2je6o2sforjt30kokrpu7atvm4et7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465534295759-3ap2je6o2sforjt30kokrpu7atvm4et7</string>
	<key>API_KEY</key>
	<string>AIzaSyCMjZYCpRdx34sk-fUjtD1_toW5yFOSI50</string>
	<key>GCM_SENDER_ID</key>
	<string>465534295759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EOA-industry.Nexus-Store</string>
	<key>PROJECT_ID</key>
	<string>nexus-store-8d6e3</string>
	<key>STORAGE_BUCKET</key>
	<string>nexus-store-8d6e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465534295759:ios:e6a1c2ca94a6587dcc21ba</string>
</dict>
</plist>